.adunit-container, .rma-widget, .slides, .slides div {
  width: 320px;
  height: 480px;
  margin: 0;
  padding: 0;

}

.adunit-container {
    background-color: white;
}

.adunit-container, .slides, .slides div {
  position: absolute;
  top: 0;
  left: 0;
}

.slides div.two, .slides div.three, .slides div.four {
  display: none;
}

.adunit-container .slides div {
  background-size: cover;
  background-repeat: no-repeat;
}

.adunit-container .outlay {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0; 
  background-image: url(/img/pureit-outlay.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
   background-size: contain; 
   z-index: 3;
   opacity: 0;
   pointer-events: none;
}

div[class*="-text"] {
  position: absolute;
  opacity: 1;
  left: 0;
  right: 0;
  z-index: 2;
  font-weight: lighter;
  font-family:'Helvetica Light', 'Helvetica', Arial, sans-serif; 
  /*transition: opacity 1s ease-in;*/
}
div.first-text {
  left: 105px;
  top: 95px;
  font-size: 18px;
  display: none;
}

div.second-text {
  left: 105px;
  top: 190px;
  font-size: 20px;
  opacity: 0;
}

div.third-text {
        left: 105px;
    top: 285px;
    font-size: 22px;
    opacity: 0;
}

div.fourth-text {
  left: 85px;
    top: 174px;
    font-size: 22px;
    opacity: 0;
}

div.fourth-text span, div.fourth-text strong {
  opacity: 0;
}

div.fourth-text .button {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 17px;
    background: transparent;
    padding: 10px 20px;
    text-decoration: none;
    width: 135px;
    position: relative;
    top: 52px;
    left: 11px;
    cursor: pointer;
    height: 50px;
}

.form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 480px;
    background-repeat: no-repeat;
  -webkit-background-size: cover;
   background-size: cover;
     font-family:'Helvetica Light', 'Helvetica', Arial, sans-serif; 

 }

 .form img {
width: 110px;
    position: absolute;
    top: 21px;
    left: 99px;
 }

.box {
    padding: 10px;
    position: absolute;
    background-size: contain;
    background-color: #3992c8;
    border-radius: 15px;
    text-align: center;
    top: 115px;
    left: 30px;
}
.notion {
  position: absolute;
  z-index: 4;
      top: 125px;
    left: 49px;
    pointer-events: none;
}
/*.box:before {
  content: 'x';
  color: #1fbee3;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: -2px;
    cursor: pointer;
}*/

.box h1 {
  font-weight: 1%;
  color: white;
  font-size: 20px;
}

.box input {
  padding: 5px;
  margin: 0px 0px 15px;
  display: block;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
  border: none;
}

.submit {
cursor: pointer;
    box-sizing: border-box;
    color: #186a9a;
    padding: 5px;
    font-size: 20px;
    background-color: #eeeeee;
    margin-bottom: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
}

.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--horizontal {
  height: 20px;
  width: 100%;
}

.rangeslider--vertical {
  width: 2px;
  min-height: 345px;
  max-height: 100%;
  position: absolute;
  left: 60px; 
  top: 105px;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #0072bc;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 55px;
  position: absolute;
  margin-bottom: -10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -38px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}